<ul class="list-unstyled">
    {{#each posts}}
    <li class="media mb-3">
        
            <form action="/profile/{{this.user_id}}" method="GET">
                <input type="image" src="{{this.image}}" class="mr-3 post-img" alt="Submit">
            </form>
        
        <div class="media-body">
            <div class="row-space-between">
                <h5 class="mt-0 mb-1">{{this.subject}}</h5>
                <span class="topic">{{this.topic}}</span>
            </div>
            {{ellipsis this.message}}
            <div class="row-space-between">
                <span><small class="font-weight-lighter font-italic">{{parseDate this.created_at}}</small></span>
                <span class="font-weight-lighter font-italic replies"><a href="/posts/post/{{this.id}}">{{this.replies}}
                        replies</a></span>
            </div>
        </div>
    </li>
    {{/each}}
</ul>