<ul class="mr-auto w-75 list-unstyled">
    {{#each posts}}
    <li class="media mb-3">
        <a href="/profile/{{this.user_id}}">
            {{#if this.image}}
                <img src="{{this.image}}" class="mr-3 post-img" alt="">
                {{else}}
                <img src="/images/default.jpg" class="mr-3 post-img" alt="">
            {{/if}}
        </a>
        <div class="media-body">
            <div class="row-space-between">
                <h5 class="mt-0 mb-1">{{this.subject}}</h5>
                <span class="topic">{{this.topic}}</span>
            </div>
            <p class="pl-3">{{ellipsis this.message}}</p>
            <div class="row-space-between pl-3">
                <span><small class="font-weight-lighter font-italic">{{parseDate this.created_at}}</small></span>
                <span class="font-weight-lighter font-italic replies"><a href="/posts/post/{{this.id}}">{{this.replies}}
                        replies</a></span>
            </div>
        </div>
    </li>
    {{/each}}
</ul>