{{>header}}
<div class="d-flex justify-content-around" >
    <div id='left-col'>
        <div class='profile-img-wrapper'>
            <img id='proPic' src="{{user.[0].image}}" alt="">
        </div>
        <div>{{user.[0].first_name}} {{user.[0].last_name}}</div>
        <div>{{user.[0].about}}</div>
        <div>
            <table class='table'>
                <tbody>
                    <tr>
                        <td>Posts</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Messages</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Likes</td>
                        <td>{{user.likes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/profile/{{user.[0].id}}/edit">Edit Profile</a>
    </div>
    <div id='right-col'>
        <div>
            <form>
                <div id="submit-post-form" class="form-group">
                    <label for="inputAddress">What is your question today?</label>
                    <input type="text" class="form-control col-lg-7" placeholder="subject">
                    <textarea class="form-control col-lg-7" rows="3" placeholder="explain in detail..."></textarea>
                    <div class="d-flex">
                        <select class="form-control form-control-md col-sm-3" placeholder="topic">
                            <option>php</option>
                            <option>java</option>
                            <option>node</option>
                        </select>
                        <button type="submit" class="btn btn-info">Post to timeline</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <div id="minisearch-wrapper">
                <div id="searchByTopicDiv" class="col-sm-3">Search by topic</div>
                <div id="" class="col-sm-7 d-flex">
                    <select class="form-control form-control-md col-sm-3" placeholder="topic">
                        <option>php</option>
                        <option>java</option>
                        <option>node</option>
                    </select>
                    <button type="submit" class="btn btn-info">Go-></button>
                </div>
            </div>
            <div id="latestDiscussion">Latest discussion</div>
            {{!-- latest discussion --}}
            {{>posts}}
        </div>
    </div>

</div>