{{>header}}
<div id="mainDiv">
    <div id="chatList" class="overflow-auto">
        {{#each chatList}}
        <div class='chats'>
            <div class=""><img class='rounded-circle'src="{{this.image}}" alt=""></div>
            <div class="">
                <div>
                    <div>{{this.first_name}} {{this.last_name}}</div><div>{{this.latestDate}}</div>
                </div>
                <div>{{this.subject}}</div>
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
    <div id="messages">
        <div id='messages-messageArea' class='overflow-auto'>
            {{#each messageList}}
            <hr class='hr-text' data-content="{{this.[0].created_at}}">
                {{#each this}}
                <div class="meesages-each d-flex">
                    <div class="profilePic-message"><img class='rounded-circle'src="{{this.image}}" alt=""></div>
                    <div class="col-lg-10">
                        <div class="senderInfo d-flex">
                            <div>{{this.first_name}} {{this.last_name}}</div>
                            <div>&#9900</div>
                            <div>{{this.time}}</div>
                        </div>
                        <div>
                            {{this.message}}
                        </div>
                    </div>
                </div>
                {{/each}}
            {{/each}}
            
        </div>
        <div id='messages-sendArea' class='d-flex'>
            <textarea class='form-control'></textarea>
            <button class='btn btn-info'>Send</button>
        </div>
    </div>
</div>